Options +FollowSymlinks
RewriteEngine On

RewriteRule ^api/ville/$ api.php [QSA]

# Route qui permet de récupérer les infos d'une ville en fournissant l'ID de la ville
RewriteRule ^api/getville/([0-9_-]+)$ api.php?q=$1 [QSA]

# Route qui permet de récupérer les infos d'une ville en fournissant le nom de filtre ET l'ID de la ville
RewriteRule ^api/getville/([a-zA-Z0-9_-]+)/([0-9_-]+)$ api.php?filtre=$1&q=2 [QSA]

# Route qui permet de supprimer une ville en fournissant l'ID de la ville
RewriteRule ^api/deleteville api.php [QSA]

# Route qui permet de mettre à jour une ville avec tous les paramètres
RewriteRule ^api/updateville api.php [QSA]

# Route qui permet de  créer une ville avec tous les paramètres
RewriteRule ^api/createville api.php [QSA]